@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">PizzaMama Acceuil</h1>
        <p>Learn about <a asp-page="MenuPizza">Voir le menu des pizzas</a>.</p>
    </div>

</body>
</html>