@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/acceuil.css" />
    <title>Page Title</title>
</head>
<body>

    <div class="text-center">
        <img src="~/image/main_logo.png" />
        <a asp-page="MenuPizza" class="lienPizza">Voir les pizzas en vente </a>
    </div>

</body>
</html>