@page
@model PizzaFamily.Pages.MenuPizzaModel
@{
}



<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/index.css" />
    <title>Page Title</title>
</head>
<body>

    <div class="header-pizza">
        <a asp-page="MenuPizza"> <img src="~/image/small_logo.png" id="logoPizza" /> </a>
        <a asp-page="/Admin/index" class="lien"> <div class="connexion-admin">Connexion Administrateur</div> </a>
    </div>


    <div class="menu_title">
        <h1>Les pizzas</h1>
    </div>

    <div class="menu_list">
        @foreach (var item in Model.Pizza)
        {
            <div class="menu_list_title">
                <span class="menu_list_item">@item.Nom </span>
                <span class="menu_list_price">@String.Format("{0:0.00}", @item.Prix) € </span>
                <br />
                <span class="menu_list_ingredient">@item.Ingredients </span>
                @if (item.Vegetarienne)
                {
                    <span class="menu_list_badge">Végétarienne</span>
                }
            </div>
        }
    </div>

</body>
</html>